<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to my website showing a collection of DevOps terms and their brief descriptions </p>
    <table class="styled-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>TERM</th>
        <th>DESCRIPTION</th>
        <th>REFERENCES</th>
      </tr>
    </thead>
      <% data.forEach((item, index) => { %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.reference %></td>
      </tr>
      <% }); %>
    </table>
  </div>
</body>
</html>
